@charset "UTF-8";

body {
    background: rgb(133, 118, 59) url(imagens/fundo-madeira.jpg) center no-repeat fixed;
    background-size: cover;
    position: relative;
}


section.menu > a > img {
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

section.menu {
    position: absolute;
    top: 0%;
    left: 90%;
    text-align: right;
}

.position {
    background:rgba(252, 251, 251, 0) url(imagens/frame-iphone.png) top center no-repeat fixed;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

}

.iframe {
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 290px;
    height: 486px;
}

a {
    padding-left: -50px;
}