@charset "UTF-8";

body {
    background: rgb(133, 118, 59) url(imagens/fundo-madeira.jpg) center no-repeat fixed;
    background-size: cover;
    position: relative;
}


section.menu  nav > a > img {
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.963);
    box-sizing: border-box;
}

section.menu > nav > a > img:hover {
    border: 2px solid rgba(255, 255, 255, 0.607);
    transform: translate(-3px, -3px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.79);
    transition: transform 3s, border 2s, box-shadow 3s;
}

section.menu {
    position: absolute;
    top: 0%;
    left: 90%;
    text-align: right;

}

.position {
    background:rgba(252, 251, 251, 0) url(imagens/frame-iphone.png) top center no-repeat fixed;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

}

.iframe {
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    width: 267px;
    height: 474px;
    border: 2px solid rgba(255, 255, 255, 0.729);
}
